html
  head
    title Welcome!

  body
    h1 Welcome to Our Website, #{name}!

    p Thank you for registering on our website. We're excited to have you. we hope to see you join our team in the future.

    p
      | If you have any questions or need assistance, feel free to contact us

    p
      | Best regards,
      br
      span Admin
